XTerm*locale: true
xterm*termName: xterm-256color
Xterm*backarrowKey: false
xterm*vt100.Translations: #override Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
xterm*vt100.locale: true
xterm*utf8: 2
XTerm*faceName: FuraMonoForPowerline\ Nerd\ Font:style=Regular
XTerm*font: -*-Furacode Nerd Font Mono-medium-r-normal--*-*-*-*-*-iso10646-1
xterm*faceName: FuraCode Nerd Font Mono:style=Regular
xterm*faceSize: 8
Xterm*background: rgb:00/00/00
Xterm*foreground: rgb:ff/ff/ff
Xterm*color0:     rgb:00/00/00
Xterm*color1:     rgb:d3/62/65
Xterm*color2:     rgb:ae/ce/91
Xterm*color3:     rgb:e7/e1/8c
Xterm*color4:     rgb:7a/7a/b0
Xterm*color5:     rgb:96/3c/59
Xterm*color6:     rgb:41/81/79
Xterm*color7:     rgb:be/be/be
Xterm*color8:     rgb:66/66/66
Xterm*color9:     rgb:ef/81/71
Xterm*color10:    rgb:e5/f7/79
Xterm*color11:    rgb:ff/f7/96
Xterm*color12:    rgb:41/86/be
Xterm*color13:    rgb:ef/9e/be
Xterm*color14:    rgb:71/be/be
Xterm*ScrollKey: true

URxvt.depth: 32
URxvt.background: rgba:0000/0000/0000/e000
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1 
URxvt.perl-ext-common: default,clipboard
URxvt.font: -*-Furacode Nerd Font Mono-medium-r-normal--*-*-*-*-*-iso10646-1
URxvt.cursorBlink: True
URxvt.cursorUnderline: True
URxvt.geometry: 80x48
URxvt.foreground: rgba:ffff/ffff/ffff/ffff


!-------------------------------- screensaver ----------------------
!!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

